[target.x86_64-unknown-linux-gnu]
rustflags = [
  "-C",
  "target-cpu=native",
  "-C",
  "link-arg=-Wl,--gc-sections",
  "-C",
  "link-arg=-Wl,--strip-all",
  "-C",
  "link-arg=-Wl,--build-id=none",
]
